/*
 * Veeam Backup & Replication REST API
 *
 * This document lists paths (endpoints) of the Veeam Backup & Replication REST API and operations that you can perform by sending HTTP requests to the paths.<br> Requests can contain parameters in their path, query and header. POST and PUT requests can include a request body with resource payload. In response, you receive a conventional HTTP response code, HTTP response header and an optional response body schema that contains a result model.<br> Parameters, request bodies, and response bodies are defined inline or refer to schemas defined globally. Some schemas are polymorphic. 
 *
 * API version: 1.0-rev1
 * Contact: support@veeam.com
 */

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package client

import (
	"bytes"
	_context "context"
	_ioutil "io/ioutil"
	_nethttp "net/http"
	_neturl "net/url"
	"strings"
	"time"
)

// Linger please
var (
	_ _context.Context
)

// ObjectRestorePointsApiService ObjectRestorePointsApi service
type ObjectRestorePointsApiService service

type ApiGetAllObjectRestorePointsRequest struct {
	ctx _context.Context
	ApiService *ObjectRestorePointsApiService
	xApiVersion *string
	skip *int32
	limit *int32
	orderColumn *EObjectRestorePointsFiltersOrderColumn
	orderAsc *bool
	createdAfterFilter *time.Time
	createdBeforeFilter *time.Time
	nameFilter *string
	platformNameFilter *EPlatformType
	platformIdFilter *string
	backupIdFilter *string
	backupObjectIdFilter *string
}

func (r ApiGetAllObjectRestorePointsRequest) XApiVersion(xApiVersion string) ApiGetAllObjectRestorePointsRequest {
	r.xApiVersion = &xApiVersion
	return r
}
func (r ApiGetAllObjectRestorePointsRequest) Skip(skip int32) ApiGetAllObjectRestorePointsRequest {
	r.skip = &skip
	return r
}
func (r ApiGetAllObjectRestorePointsRequest) Limit(limit int32) ApiGetAllObjectRestorePointsRequest {
	r.limit = &limit
	return r
}
func (r ApiGetAllObjectRestorePointsRequest) OrderColumn(orderColumn EObjectRestorePointsFiltersOrderColumn) ApiGetAllObjectRestorePointsRequest {
	r.orderColumn = &orderColumn
	return r
}
func (r ApiGetAllObjectRestorePointsRequest) OrderAsc(orderAsc bool) ApiGetAllObjectRestorePointsRequest {
	r.orderAsc = &orderAsc
	return r
}
func (r ApiGetAllObjectRestorePointsRequest) CreatedAfterFilter(createdAfterFilter time.Time) ApiGetAllObjectRestorePointsRequest {
	r.createdAfterFilter = &createdAfterFilter
	return r
}
func (r ApiGetAllObjectRestorePointsRequest) CreatedBeforeFilter(createdBeforeFilter time.Time) ApiGetAllObjectRestorePointsRequest {
	r.createdBeforeFilter = &createdBeforeFilter
	return r
}
func (r ApiGetAllObjectRestorePointsRequest) NameFilter(nameFilter string) ApiGetAllObjectRestorePointsRequest {
	r.nameFilter = &nameFilter
	return r
}
func (r ApiGetAllObjectRestorePointsRequest) PlatformNameFilter(platformNameFilter EPlatformType) ApiGetAllObjectRestorePointsRequest {
	r.platformNameFilter = &platformNameFilter
	return r
}
func (r ApiGetAllObjectRestorePointsRequest) PlatformIdFilter(platformIdFilter string) ApiGetAllObjectRestorePointsRequest {
	r.platformIdFilter = &platformIdFilter
	return r
}
func (r ApiGetAllObjectRestorePointsRequest) BackupIdFilter(backupIdFilter string) ApiGetAllObjectRestorePointsRequest {
	r.backupIdFilter = &backupIdFilter
	return r
}
func (r ApiGetAllObjectRestorePointsRequest) BackupObjectIdFilter(backupObjectIdFilter string) ApiGetAllObjectRestorePointsRequest {
	r.backupObjectIdFilter = &backupObjectIdFilter
	return r
}

func (r ApiGetAllObjectRestorePointsRequest) Execute() (ObjectRestorePointsResult, *_nethttp.Response, error) {
	return r.ApiService.GetAllObjectRestorePointsExecute(r)
}

/*
 * GetAllObjectRestorePoints Get All Restore Points
 * The HTTP GET request to the `/api/v1/objectRestorePoints` path allows you to get an array of all restore points created on the backup server.
 * @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @return ApiGetAllObjectRestorePointsRequest
 */
func (a *ObjectRestorePointsApiService) GetAllObjectRestorePoints(ctx _context.Context) ApiGetAllObjectRestorePointsRequest {
	return ApiGetAllObjectRestorePointsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

/*
 * Execute executes the request
 * @return ObjectRestorePointsResult
 */
func (a *ObjectRestorePointsApiService) GetAllObjectRestorePointsExecute(r ApiGetAllObjectRestorePointsRequest) (ObjectRestorePointsResult, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  ObjectRestorePointsResult
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ObjectRestorePointsApiService.GetAllObjectRestorePoints")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/objectRestorePoints"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.xApiVersion == nil {
		return localVarReturnValue, nil, reportError("xApiVersion is required and must be specified")
	}

	if r.skip != nil {
		localVarQueryParams.Add("skip", parameterToString(*r.skip, ""))
	}
	if r.limit != nil {
		localVarQueryParams.Add("limit", parameterToString(*r.limit, ""))
	}
	if r.orderColumn != nil {
		localVarQueryParams.Add("orderColumn", parameterToString(*r.orderColumn, ""))
	}
	if r.orderAsc != nil {
		localVarQueryParams.Add("orderAsc", parameterToString(*r.orderAsc, ""))
	}
	if r.createdAfterFilter != nil {
		localVarQueryParams.Add("createdAfterFilter", parameterToString(*r.createdAfterFilter, ""))
	}
	if r.createdBeforeFilter != nil {
		localVarQueryParams.Add("createdBeforeFilter", parameterToString(*r.createdBeforeFilter, ""))
	}
	if r.nameFilter != nil {
		localVarQueryParams.Add("nameFilter", parameterToString(*r.nameFilter, ""))
	}
	if r.platformNameFilter != nil {
		localVarQueryParams.Add("platformNameFilter", parameterToString(*r.platformNameFilter, ""))
	}
	if r.platformIdFilter != nil {
		localVarQueryParams.Add("platformIdFilter", parameterToString(*r.platformIdFilter, ""))
	}
	if r.backupIdFilter != nil {
		localVarQueryParams.Add("backupIdFilter", parameterToString(*r.backupIdFilter, ""))
	}
	if r.backupObjectIdFilter != nil {
		localVarQueryParams.Add("backupObjectIdFilter", parameterToString(*r.backupObjectIdFilter, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	localVarHeaderParams["x-api-version"] = parameterToString(*r.xApiVersion, "")
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["Bearer"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetObjectRestorePointRequest struct {
	ctx _context.Context
	ApiService *ObjectRestorePointsApiService
	xApiVersion *string
	id string
}

func (r ApiGetObjectRestorePointRequest) XApiVersion(xApiVersion string) ApiGetObjectRestorePointRequest {
	r.xApiVersion = &xApiVersion
	return r
}

func (r ApiGetObjectRestorePointRequest) Execute() (ObjectRestorePointModel, *_nethttp.Response, error) {
	return r.ApiService.GetObjectRestorePointExecute(r)
}

/*
 * GetObjectRestorePoint Get Restore Point
 * The HTTP GET request to the `/api/v1/objectRestorePoints/{id}` path allows you to get a restore point that has the specified `id`.
 * @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param id ID of the restore point.
 * @return ApiGetObjectRestorePointRequest
 */
func (a *ObjectRestorePointsApiService) GetObjectRestorePoint(ctx _context.Context, id string) ApiGetObjectRestorePointRequest {
	return ApiGetObjectRestorePointRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

/*
 * Execute executes the request
 * @return ObjectRestorePointModel
 */
func (a *ObjectRestorePointsApiService) GetObjectRestorePointExecute(r ApiGetObjectRestorePointRequest) (ObjectRestorePointModel, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  ObjectRestorePointModel
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ObjectRestorePointsApiService.GetObjectRestorePoint")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/objectRestorePoints/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", _neturl.PathEscape(parameterToString(r.id, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.xApiVersion == nil {
		return localVarReturnValue, nil, reportError("xApiVersion is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	localVarHeaderParams["x-api-version"] = parameterToString(*r.xApiVersion, "")
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["Bearer"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetObjectRestorePointDisksRequest struct {
	ctx _context.Context
	ApiService *ObjectRestorePointsApiService
	xApiVersion *string
	id string
}

func (r ApiGetObjectRestorePointDisksRequest) XApiVersion(xApiVersion string) ApiGetObjectRestorePointDisksRequest {
	r.xApiVersion = &xApiVersion
	return r
}

func (r ApiGetObjectRestorePointDisksRequest) Execute() (ObjectRestorePointDisksResult, *_nethttp.Response, error) {
	return r.ApiService.GetObjectRestorePointDisksExecute(r)
}

/*
 * GetObjectRestorePointDisks Get Restore Point Disks
 * The HTTP GET request to the `/api/v1/objectRestorePoints/{id}/disks` path allows you to get an array of disks from a restore point that has the specified `id`.
 * @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param id ID of the restore point.
 * @return ApiGetObjectRestorePointDisksRequest
 */
func (a *ObjectRestorePointsApiService) GetObjectRestorePointDisks(ctx _context.Context, id string) ApiGetObjectRestorePointDisksRequest {
	return ApiGetObjectRestorePointDisksRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

/*
 * Execute executes the request
 * @return ObjectRestorePointDisksResult
 */
func (a *ObjectRestorePointsApiService) GetObjectRestorePointDisksExecute(r ApiGetObjectRestorePointDisksRequest) (ObjectRestorePointDisksResult, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  ObjectRestorePointDisksResult
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ObjectRestorePointsApiService.GetObjectRestorePointDisks")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/objectRestorePoints/{id}/disks"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", _neturl.PathEscape(parameterToString(r.id, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.xApiVersion == nil {
		return localVarReturnValue, nil, reportError("xApiVersion is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	localVarHeaderParams["x-api-version"] = parameterToString(*r.xApiVersion, "")
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["Bearer"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
